.popup__container {
    position: relative;
    padding: 35px;
    margin: auto;
    max-width: 430px;
    min-height: 330px;
  }
  
  @media screen and (max-width: 450px) {
    .popup__container {
      min-height: 322px;
      padding: 36px 19px;
    }
  }