.header {
  max-width: 880px;
  min-height: 74px;
  
  margin: auto;
  padding: 45px 0 0 0;
  border-bottom: 1px solid #545454;
}
   
@media screen and (max-width: 929px) {
  .header {
    padding: 45px 19px 0 19px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    min-height: 56px;
    padding: 28px 0 0 0;
  }
}