.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  max-width: 880px;
    
  color: #545454;
    
  margin: 67px auto;
  margin-bottom: 60px;
}
  
@media screen and (max-width: 929px) {
  .footer__copyright {
    padding: 0 19px 0 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;

    padding: 0 19px 36px 19px;
    margin: 48px 0 0 0;
  }
}