.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 294px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 757px) {
  .profile__name {
    font-size: 27px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    text-align: center;
    line-height: 1.22;
  }
}