.element {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
    width: 100%;
    max-height: 362px;
  
    background-color: #FFFFFF;
    color: #000000;
  }
      
  @media screen and (max-width: 500px) {
    .element {
      margin: auto;
    }
  }